 html {
    margin: 0;
    background-color: #fafbfc;
    box-sizing: border-box;
    transition: all 0.5s ease-in;
  }

  body{
      margin: 0;
  }

  a{
    color: black;
    text-decoration: none;
  }
  a:active{
    color:black
  }

  a:hover{
    color: rgb(199, 196, 196) ;
  }

  a:visited{
    color: black;
  }
